/* @group Reset and normalize */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html { font-size: 100%; }

body { min-height: 100%; line-height: 1; }

img { -ms-interpolation-mode: bicubic; max-width: 100%; height: auto; }

strong, b { font-weight: bold; }

em, i { font-style: italic; }

del, s { text-decoration: line-through; }

u, ins { text-decoration: underline; }

abbr[title], dfn[title] { cursor: help; border-bottom: 1px dotted; }

/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** Correct `inline-block` display not defined in IE 8/9. */
audio, canvas, video { display: inline-block; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9. Hide the `template` element in IE, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

/** Address `outline` inconsistency between Chrome and other browsers. */
/** Improve readability when focused and also mouse hovered in all browsers. */
/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9. */
img { border: 0; }

/** Correct overflow displayed oddly in IE 9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/** Address margin not present in IE 8/9 and Safari 5. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

/* @end */
/* @group Grid */
.grid-row { list-style: none; margin: 0; padding: 0; margin-left: -30px; *zoom: 1; }
.grid-row:before, .grid-row:after { display: table; content: ""; line-height: 0; }
.grid-row:after { clear: both; }
.grid-row .grid-item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: 1px; float: left; padding-left: 30px; vertical-align: top; }
.grid-row .grid-item.one-half { width: 50%; }
.grid-row .grid-item.one-third { width: 33.333%; }
.grid-row .grid-item.two-third { width: 66.666%; }
.grid-row .grid-item.one-quarter { width: 25%; }
.grid-row .grid-item.two-quarter { width: 50%; }
.grid-row .grid-item.three-quarter { width: 75%; }
.grid-row .grid-item.one-fifth { width: 20%; }
.grid-row .grid-item.two-fifth { width: 40%; }
.grid-row .grid-item.three-fifth { width: 60%; }
.grid-row .grid-item.four-fifth { width: 80%; }
.grid-row .grid-item.one-sixth { width: 16.666%; }
.grid-row .grid-item.two-sixth { width: 33.333%; }
.grid-row .grid-item.three-sixth { width: 50%; }
.grid-row .grid-item.four-sixth { width: 66.666%; }
.grid-row .grid-item.five-sixth { width: 83.333%; }
.grid-row .grid-item.one-eighth { width: 12.5%; }
.grid-row .grid-item.two-eighth { width: 25%; }
.grid-row .grid-item.three-eighth { width: 37.5%; }
.grid-row .grid-item.four-eighth { width: 50%; }
.grid-row .grid-item.five-eighth { width: 62.5%; }
.grid-row .grid-item.six-eighth { width: 75%; }
.grid-row .grid-item.seven-eighth { width: 87.5%; }
.grid-row .grid-item.one-tenth { width: 10%; }
.grid-row .grid-item.two-tenth { width: 20%; }
.grid-row .grid-item.three-tenth { width: 30%; }
.grid-row .grid-item.four-tenth { width: 40%; }
.grid-row .grid-item.five-tenth { width: 50%; }
.grid-row .grid-item.six-tenth { width: 60%; }
.grid-row .grid-item.seven-tenth { width: 70%; }
.grid-row .grid-item.eight-tenth { width: 80%; }
.grid-row .grid-item.nine-tenth { width: 90%; }
.grid-row .grid-item.left { float: left; }
.grid-row .grid-item.right { float: right; }
.grid-row .grid-item.offset-one-half { margin-left: 50%; }
.grid-row .grid-item.offset-one-third { margin-left: 33.333%; }
.grid-row .grid-item.offset-one-quarter { margin-left: 25%; }
.grid-row .grid-item.offset-one-fifth { margin-left: 20%; }
.grid-row .grid-item.offset-one-sixth { margin-left: 16.666%; }
.grid-row .grid-item.offset-one-eighth { margin-left: 12.5%; }
.grid-row .grid-item.offset-one-tenth { margin-left: 10%; }
.grid-row.linearise > .grid-item { width: 100%; margin-left: 0; }
@media only screen and (min-width: 768px) { .grid-row.linearise > .grid-item.one-half { width: 50%; }
  .grid-row.linearise > .grid-item.one-third { width: 33.333%; }
  .grid-row.linearise > .grid-item.two-third { width: 66.666%; }
  .grid-row.linearise > .grid-item.one-quarter { width: 25%; }
  .grid-row.linearise > .grid-item.two-quarter { width: 50%; }
  .grid-row.linearise > .grid-item.three-quarter { width: 75%; }
  .grid-row.linearise > .grid-item.one-fifth { width: 20%; }
  .grid-row.linearise > .grid-item.two-fifth { width: 40%; }
  .grid-row.linearise > .grid-item.three-fifth { width: 60%; }
  .grid-row.linearise > .grid-item.four-fifth { width: 80%; }
  .grid-row.linearise > .grid-item.one-sixth { width: 16.666%; }
  .grid-row.linearise > .grid-item.two-sixth { width: 33.333%; }
  .grid-row.linearise > .grid-item.three-sixth { width: 50%; }
  .grid-row.linearise > .grid-item.four-sixth { width: 66.666%; }
  .grid-row.linearise > .grid-item.five-sixth { width: 83.333%; }
  .grid-row.linearise > .grid-item.one-eighth { width: 12.5%; }
  .grid-row.linearise > .grid-item.two-eighth { width: 25%; }
  .grid-row.linearise > .grid-item.three-eighth { width: 37.5%; }
  .grid-row.linearise > .grid-item.four-eighth { width: 50%; }
  .grid-row.linearise > .grid-item.five-eighth { width: 62.5%; }
  .grid-row.linearise > .grid-item.six-eighth { width: 75%; }
  .grid-row.linearise > .grid-item.seven-eighth { width: 87.5%; }
  .grid-row.linearise > .grid-item.one-tenth { width: 10%; }
  .grid-row.linearise > .grid-item.two-tenth { width: 20%; }
  .grid-row.linearise > .grid-item.three-tenth { width: 30%; }
  .grid-row.linearise > .grid-item.four-tenth { width: 40%; }
  .grid-row.linearise > .grid-item.five-tenth { width: 50%; }
  .grid-row.linearise > .grid-item.six-tenth { width: 60%; }
  .grid-row.linearise > .grid-item.seven-tenth { width: 70%; }
  .grid-row.linearise > .grid-item.eight-tenth { width: 80%; }
  .grid-row.linearise > .grid-item.nine-tenth { width: 90%; }
  .grid-row.linearise > .grid-item.offset-one-half { margin-left: 50%; }
  .grid-row.linearise > .grid-item.offset-one-third { margin-left: 33.333%; }
  .grid-row.linearise > .grid-item.offset-one-quarter { margin-left: 25%; }
  .grid-row.linearise > .grid-item.offset-one-fifth { margin-left: 20%; }
  .grid-row.linearise > .grid-item.offset-one-sixth { margin-left: 16.666%; }
  .grid-row.linearise > .grid-item.offset-one-eighth { margin-left: 12.5%; }
  .grid-row.linearise > .grid-item.offset-one-tenth { margin-left: 10%; } }
.grid-row.example .grid-item { margin-bottom: 20px; }
.grid-row.example .grid-item .content { background-color: #ddd; text-align: center; }

/* @end */
/* @group Typpography */
body { font-size: 16px; line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 { line-height: normal; max-width: 100%; }

h1 { font-size: 3.157em; margin-top: 0; margin-bottom: 0.25em; }

h2 { font-size: 2.369em; margin-bottom: 0.32em; }

h3 { font-size: 1.777em; margin-bottom: 0.45em; }

h4 { font-size: 1.333em; margin-bottom: 0.6em; }

h5 { font-size: 1em; margin-bottom: 0.8em; }

h6 { font-size: 0.75em; margin-bottom: 0.8em; }

p, address, pre, details { margin-bottom: 0.8em; }

ol, ul { padding-left: 1.3em; margin-bottom: 0.8em; }

/* @end */
/* @group Layout */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.region { width: 100%; padding: 40px 0; }
.region .inner { width: 100%; max-width: 1020px; margin: 0 auto; padding: 0 20px; }
.region .inner:before, .region .inner:after { display: table; content: ""; line-height: 0; }
.region .inner:after { clear: both; }

#navigation { background: #f4f4f4; padding: 0; }

#footer { padding-top: 0; }
#footer nav { float: left; }

img, video, audio, canvas { max-width: 100%; }

/* @end */
/* @groups Menus */
/* Flexnav Base Styles */
.flexnav { -webkit-transition: none; -moz-transition: none; -ms-transition: none; transition: none; -webkit-transform-style: preserve-3d; overflow: hidden; margin: 0 auto; width: 100%; max-height: 0; }
.flexnav.opacity { opacity: 0; }
.flexnav.show { max-height: 2000px; opacity: 1; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
.flexnav.one-page { position: fixed; top: 50px; right: 5%; max-width: 200px; }
.flexnav li { font-size: 100%; position: relative; overflow: hidden; }
.flexnav li a { position: relative; display: block; padding: .96em; z-index: 2; overflow: hidden; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.flexnav li ul { width: 100%; }
.flexnav li ul li { font-size: 100%; position: relative; overflow: hidden; }
.flexnav li ul.show li { overflow: visible; }
.flexnav li ul li a { display: block; }
.flexnav .touch-button { position: absolute; z-index: 999; top: 0; right: 0; width: 50px; height: 50px; display: inline-block; text-align: center; }
.flexnav .touch-button:hover { cursor: pointer; }
.flexnav .touch-button .navicon { font-style: normal; position: relative; top: 1.4em; font-size: 12px; }

.menu-button { position: relative; display: block; padding: 1em; cursor: pointer; }
.menu-button.one-page { position: fixed; top: 0; right: 5%; padding-right: 45px; }
.menu-button .touch-button { background: transparent; position: absolute; z-index: 999; top: 0; right: 0; width: 50px; height: 50px; display: inline-block; text-align: center; }
.menu-button .touch-button .navicon { font-size: 16px; position: relative; top: 1em; }

@media all and (min-width: 768px) { body.one-page { padding-top: 70px; }
  .flexnav { overflow: visible; }
  .flexnav.opacity { opacity: 1; }
  .flexnav.one-page { top: 0; right: auto; max-width: 1080px; }
  .flexnav li { position: relative; list-style: none; float: left; display: block; overflow: visible; }
  .flexnav li a { border-bottom: none; padding-right: 50px; }
  .flexnav li > ul { position: absolute; top: auto; left: 0; }
  .flexnav li > ul li { width: auto; }
  .flexnav li ul li > ul { margin-left: 100%; top: 0; }
  .flexnav li ul li a { border-bottom: none; }
  .flexnav li ul.open { display: block; opacity: 1; visibility: visible; z-index: 1; }
  .flexnav li ul.open li { overflow: visible; max-height: 100px; }
  .flexnav li ul.open ul.open { margin-left: 100%; top: 0; }
  .menu-button { display: none; } }
.oldie body.one-page { padding-top: 70px; }
.oldie .flexnav { overflow: visible; }
.oldie .flexnav.one-page { top: 0; right: auto; max-width: 1080px; }
.oldie .flexnav li { position: relative; list-style: none; float: left; display: block; width: 20%; min-height: 50px; overflow: visible; }
.oldie .flexnav li:hover > ul { display: block; width: 100%; overflow: visible; }
.oldie .flexnav li:hover > ul li { width: 100%; float: none; }
.oldie .flexnav li a { border-left: 1px solid #acaca1; border-bottom: none; overflow: visible; }
.oldie .flexnav li > ul { position: absolute; top: auto; left: 0; display: none; z-index: 1; overflow: visible; }
.oldie .flexnav li ul li ul { top: 0; }
.oldie .flexnav li ul li a { border-bottom: none; }
.oldie .flexnav li ul.open { display: block; width: 100%; overflow: visible; }
.oldie .flexnav li ul.open li { width: 100%; }
.oldie .flexnav li ul.open ul.open { margin-left: 100%; top: 0; display: block; width: 100%; overflow: visible; }
.oldie .flexnav ul li:hover ul { margin-left: 100%; top: 0; }
.oldie .menu-button { display: none; }
.oldie.ie7 .flexnav li { width: 19.9%; }

/* @end */
