/* @group Grid */

.grid-row {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -30px;
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
	.grid-item {
		@include box-sizing(border-box);
		min-height: 1px;
		float: left;
		padding-left: 30px;
		vertical-align: top;
		&.one-half {
			width: 50%;
		}
		&.one-third {
			width: 33.333%;
		}
		&.two-third {
			width: 66.666%;
		}
		&.one-quarter {
			width: 25%;
		}
		&.two-quarter {
			width: 50%;
		}
		&.three-quarter {
			width: 75%;
		}
		&.one-fifth {
			width: 20%;
		}
		&.two-fifth {
			width: 40%;
		}
		&.three-fifth {
			width: 60%;
		}
		&.four-fifth {
			width: 80%;
		}
		&.one-sixth {
			width: 16.666%;
		}
		&.two-sixth {
			width: 33.333%;
		}
		&.three-sixth {
			width: 50%;
		}
		&.four-sixth {
			width: 66.666%;
		}
		&.five-sixth {
			width: 83.333%;
		}
		&.one-eighth {
			width: 12.5%;
		}
		&.two-eighth {
			width: 25%;
		}
		&.three-eighth {
			width: 37.5%;
		}
		&.four-eighth {
			width: 50%;
		}
		&.five-eighth {
			width: 62.5%;
		}
		&.six-eighth {
			width: 75%;
		}
		&.seven-eighth {
			width: 87.5%;
		}
		&.one-tenth {
			width: 10%;
		}
		&.two-tenth {
			width: 20%;
		}
		&.three-tenth {
			width: 30%;
		}
		&.four-tenth {
			width: 40%;
		}
		&.five-tenth {
			width: 50%;
		}
		&.six-tenth {
			width: 60%;
		}
		&.seven-tenth {
			width: 70%;
		}
		&.eight-tenth {
			width: 80%;
		}
		&.nine-tenth {
			width: 90%;
		}
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
		&.offset-one-half {
			margin-left: 50%;
		}
		&.offset-one-third {
			margin-left: 33.333%;
		}
		&.offset-one-quarter {
			margin-left: 25%;
		}
		&.offset-one-fifth {
			margin-left: 20%;
		}
		&.offset-one-sixth {
			margin-left: 16.666%;
		}
		&.offset-one-eighth {
			margin-left: 12.5%;
		}
		&.offset-one-tenth {
			margin-left: 10%;
		}
	}
	&.linearise > .grid-item {
		width: 100%;
		margin-left: 0;
		@media only screen and (min-width: 768px){
			&.one-half {
				width: 50%;
			}
			&.one-third {
				width: 33.333%;
			}
			&.two-third {
				width: 66.666%;
			}
			&.one-quarter {
				width: 25%;
			}
			&.two-quarter {
				width: 50%;
			}
			&.three-quarter {
				width: 75%;
			}
			&.one-fifth {
				width: 20%;
			}
			&.two-fifth {
				width: 40%;
			}
			&.three-fifth {
				width: 60%;
			}
			&.four-fifth {
				width: 80%;
			}
			&.one-sixth {
				width: 16.666%;
			}
			&.two-sixth {
				width: 33.333%;
			}
			&.three-sixth {
				width: 50%;
			}
			&.four-sixth {
				width: 66.666%;
			}
			&.five-sixth {
				width: 83.333%;
			}
			&.one-eighth {
				width: 12.5%;
			}
			&.two-eighth {
				width: 25%;
			}
			&.three-eighth {
				width: 37.5%;
			}
			&.four-eighth {
				width: 50%;
			}
			&.five-eighth {
				width: 62.5%;
			}
			&.six-eighth {
				width: 75%;
			}
			&.seven-eighth {
				width: 87.5%;
			}
			&.one-tenth {
				width: 10%;
			}
			&.two-tenth {
				width: 20%;
			}
			&.three-tenth {
				width: 30%;
			}
			&.four-tenth {
				width: 40%;
			}
			&.five-tenth {
				width: 50%;
			}
			&.six-tenth {
				width: 60%;
			}
			&.seven-tenth {
				width: 70%;
			}
			&.eight-tenth {
				width: 80%;
			}
			&.nine-tenth {
				width: 90%;
			}
			&.offset-one-half {
				margin-left: 50%;
			}
			&.offset-one-third {
				margin-left: 33.333%;
			}
			&.offset-one-quarter {
				margin-left: 25%;
			}
			&.offset-one-fifth {
				margin-left: 20%;
			}
			&.offset-one-sixth {
				margin-left: 16.666%;
			}
			&.offset-one-eighth {
				margin-left: 12.5%;
			}
			&.offset-one-tenth {
				margin-left: 10%;
			}
		}
	}
	&.example{
		.grid-item{
			margin-bottom: 20px;
			.content{
				background-color: #ddd;
				text-align: center;
			}
		}
	}
}

/* @end */