/* @groups Menus */

// .menu{
// 	float: left;
// 	list-style: none;
// 	padding: 0;
// 	li{
// 		float: left;
// 	}
// 	a{
// 		text-decoration: none;
// 		float: left;
// 		padding: 6px 12px;
// 		color: #666;
// 		&:hover{
// 			color: #fff;
// 			background: #666;
// 		}
// 		&.active{
// 			background: #ccc;
// 		}
// 	}
// }
// #navigation .menu{
// 	margin: 0;
// }
// 
// #footer .menu {
// 	li{
// 		margin-right: 0.5em;
// 	}
// 	a{
// 		padding: 0;
// 		&:hover{
// 			color: #333;
// 			background: none;
// 		}
// 		&.active{
// 			background: none;
// 		}
// 	}
// }

/* Flexnav Base Styles */

.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
  &.opacity {
    opacity: 0;
  }
  &.show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px;
  }
  li {
    font-size: 100%;
    position: relative;
    overflow: hidden;
    a {
      position: relative;
      display: block;
      padding: .96em;
      z-index: 2;
      overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    ul {
      width: 100%;
      li {
        font-size: 100%;
        position: relative;
        overflow: hidden;
      }
      &.show li {
        overflow: visible;
      }
      li a {
        display: block;
      }
    }
  }
  ul li ul li {
    a {
    }
    ul li a {
    }
  }
  .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    .navicon {
    	font-style: normal;
    	position: relative;
    	top: 1.4em;
    	font-size: 12px;
    }
  }
}

.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  cursor: pointer;
  &.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px;
  }
  .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    .navicon {
      font-size: 16px;
      position: relative;
      top: 1em;
    }
  }
}

@media all and (min-width: 768px) {
  body.one-page {
    padding-top: 70px;
  }
  .flexnav {
    overflow: visible;
    &.opacity {
      opacity: 1;
    }
    &.one-page {
      top: 0;
      right: auto;
      max-width: 1080px;
    }
    li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      overflow: visible;
      a {
        border-bottom: none;
        padding-right: 50px;
      }
      > ul {
        position: absolute;
        top: auto;
        left: 0;
        li {
          width: auto;
        }
      }
      ul {
        li {
          > ul {
            margin-left: 100%;
            top: 0;
          }
          a {
            border-bottom: none;
          }
        }
        &.open {
          display: block;
          opacity: 1;
          visibility: visible;
          z-index: 1;
          li {
            overflow: visible;
            max-height: 100px;
          }
          ul.open {
            margin-left: 100%;
            top: 0;
          }
        }
      }
    }
  }
  .menu-button {
    display: none;
  }
}

.oldie {
  body.one-page {
    padding-top: 70px;
  }
  .flexnav {
    overflow: visible;
    &.one-page {
      top: 0;
      right: auto;
      max-width: 1080px;
    }
    li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      width: 20%;
      min-height: 50px;
      overflow: visible;
      &:hover > ul {
        display: block;
        width: 100%;
        overflow: visible;
        li {
          width: 100%;
          float: none;
        }
      }
      a {
        border-left: 1px solid #acaca1;
        border-bottom: none;
        overflow: visible;
      }
      > ul {
        position: absolute;
        top: auto;
        left: 0;
        display: none;
        z-index: 1;
        overflow: visible;
      }
      ul {
        li {
          ul {
            top: 0;
          }
          a {
            border-bottom: none;
          }
        }
        &.open {
          display: block;
          width: 100%;
          overflow: visible;
          li {
            width: 100%;
          }
          ul.open {
            margin-left: 100%;
            top: 0;
            display: block;
            width: 100%;
            overflow: visible;
          }
        }
      }
    }
    ul li:hover ul {
      margin-left: 100%;
      top: 0;
    }
  }
  .menu-button {
    display: none;
  }
  &.ie7 .flexnav li {
    width: 19.9%;
  }
}

/* @end */